apiVersion: v1
baseDomain: {{ base_domain }}
credentialsMode: {{ aws_credentials_mode }}
metadata:
  name: {{ cluster_name }}
platform:
  aws:
    region: {{ aws_region }}
publish: External
pullSecret: {{ (pull_secret_b64 | b64decode | trim) | to_json }}
sshKey: {{ ssh_public_key | trim | to_json }}
controlPlane:
  architecture: {{ _aws_install_architecture }}
  hyperthreading: Enabled
  name: master
  platform:
    aws:
      type: {{ _aws_control_plane_type }}
  replicas: {{ control_plane_replicas | int }}
compute:
  - architecture: {{ _aws_install_architecture }}
    hyperthreading: Enabled
    name: worker
    platform:
      aws:
        type: {{ _aws_compute_type }}
    replicas: {{ compute_replicas | int }}
networking:
  networkType: OVNKubernetes
  clusterNetwork:
    - cidr: 10.128.0.0/14
      hostPrefix: 23
  machineNetwork:
    - cidr: 10.0.0.0/16
  serviceNetwork:
    - 172.30.0.0/16
